table {
    width: 50%;
    height: 50vh;
    border-collapse: collapse;
    margin: auto;

}

td {
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #999;
}

.thisMonth {
    font-weight: bold;
}

.holiday {
    /* background: pink; */
    color: #ff0000;
    font-weight: bold;

}

.grey-text {
    color: #999;
    font-weight: lighter;
}

.today {
    background: blue;
    color: white;
    font-weight: bolder;
}

.outside {
    width: 100%;
    height: 80vh;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date_font {
    font-size: 48px;
}

.div_center {
    margin: auto;
    text-align: center;
    /* background-color: skyblue; */
}

.resized-image {
    width: 50px;
    /* 固定寬度 */
    height: auto;
    /* 高度自動調整，保持比例 */
    position: relative;
}


.div_date {
    margin: auto;
    text-align: center;
}

.month-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #ff0000;
    margin-bottom: 10px;
}

.month-button {
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.current-month {
    background-color: #FFD700;
    /* Gold color for current month */
    font-weight: bold;
    color: white;
}


* {
    box-sizing: border-box;
}

.boxspece {
    width: 98vw;
    height: 5vh;
}

.box {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    font-size: 32px;
}

.box1 {
    width: 50vw;
    height: 10vh;
    background-color: #ff3434;
    font-size: 32px;

}

.boxMonth {
    display: flex;
    justify-content: start;
    width: 100vw;
    height: 1vh;
    font-size: 32px;
}


.box2 {
    width: 20vw;
    height: 74vh;
    background-color: #aeff00;
    font-size: 32px;
    position: absolute;
    top: 10%;
}

.boxCalendar {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    font-size: 32px;
    margin-bottom: 10px;

}

.box3 {
    width: 48vw;
    height: 50vh;
    background-color: #799838;
    font-size: 32px;
}

.boxFunction {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    position: relative;
    font-size: 32px;
}

.box4 {
    width: 55vw;
    height: 18vh;
    background-color: #4fc677;
    font-size: 32px;
}

.box5 {
    width: 17vw;
    height: 10vh;
    background-color: #00ff62;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    bottom: 70%;
}

/* .div_a {
    padding-bottom: 10px;
} */

/* .div_buttonlike {
    width: 50px;
    height: 50px;
} */
/* 
.div_buttonlike {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    position: relative;
    top: -10px;
    left: 5px;
    
} */
/* 
.div_buttonlike:hover {
    background-color: #0056b3;
} */

/* .div_form {
    padding-top: 10px;
} */